<!DOCTYPE html>
{% load staticfiles %}
<html>

	<head>	
	
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="{% static 'js/materialize.min.js' %} "></script>
	
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection" />
		<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
		
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  
		<meta charset="utf-8">
		
		<title>Gerenciamento de Horários</title>
		
	</head>
	
	<body class="green darken-4">
		<div class="container">
			<div id="login-page" class="row">
				<div class="col s6 push-s3 card-panel">
						<form class="login-form">
							<div class="row">
								<div class="input-field col s12 center">
									<img src="{% static 'img/Logo.png' %}" alt="Logo do IFMA">
								</div>
							</div>
							<div class="row margin">
							  <div class="input-field col s12">
								<i class="mdi-social-person-outline prefix"></i>
								<input id="username" type="text">
								<label for="username" class="center-align">Login</label>
							  </div>
							</div>
							<div class="row margin">
							  <div class="input-field col s12">
								<i class="mdi-action-lock-outline prefix"></i>
								<input id="password" type="password">
								<label for="password">Senha</label>
							  </div>
							</div>
							<div class="row">
							  <div class="input-field col s12">
								<a href="{% url 'SistemaHorario.views.tela'%}" class="btn waves-effect waves-light col s12">Entrar</a>
							  </div>
							</div>
							<div class="row">
							  <div class="input-field col s6 m6 l6">
								<p class="margin medium-small"><a href="page-register.html">Esqueceu a senha?</a></p>
							  </div>       
							</div>
						</form>
				</div>
			</div>
		</div>

		
		<script> $(document).ready(function(){
			// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
			$('.modal-trigger').leanModal();
		});</script>
	  
		<script>$(document).ready(function() {
			$('select').material_select();
		});</script>
	
	</body>
</html>